# Задание 1

Скачать и подключится к базе данных 

1) Вывести информацию про бд  
2) Вывести перечень всех таблиц  
3) Ознакомится со схемой данных

In [48]:
import sqlite3

def result(sql_text):
    conn = sqlite3.connect('tysql.sqlite')
    curs = conn.cursor()
    #curs.execute(sql_text)
    
    for row in curs.fetchall():
        print(row)
    conn.close()

In [51]:
# 1) Вывести перечень таблиц и информацию о них

for t in all_tables:
    print(t[0])
    sql_text = "PRAGMA table_info (%s)" %t
    execute_with_print(sql_text)
    print()

Customers
(0, 'cust_id', 'char(10)', 1, None, 1)
(1, 'cust_name', 'char(50)', 1, None, 0)
(2, 'cust_address', 'char(50)', 0, None, 0)
(3, 'cust_city', 'char(50)', 0, None, 0)
(4, 'cust_state', 'char(5)', 0, None, 0)
(5, 'cust_zip', 'char(10)', 0, None, 0)
(6, 'cust_country', 'char(50)', 0, None, 0)
(7, 'cust_contact', 'char(50)', 0, None, 0)
(8, 'cust_email', 'char(255)', 0, None, 0)

OrderItems
(0, 'order_num', 'int', 1, None, 1)
(1, 'order_item', 'int', 1, None, 2)
(2, 'prod_id', 'char(10)', 1, None, 0)
(3, 'quantity', 'int', 1, None, 0)
(4, 'item_price', 'decimal(8,2)', 1, None, 0)

Orders
(0, 'order_num', 'int', 1, None, 1)
(1, 'order_date', 'datetime', 1, None, 0)
(2, 'cust_id', 'char(10)', 1, None, 0)

Products
(0, 'prod_id', 'char(10)', 1, None, 1)
(1, 'vend_id', 'char(10)', 1, None, 0)
(2, 'prod_name', 'char(255)', 1, None, 0)
(3, 'prod_price', 'decimal(8,2)', 1, None, 0)
(4, 'prod_desc', 'text', 0, None, 0)

Vendors
(0, 'vend_id', 'char(10)', 1, None, 1)
(1, 'vend_name', 'char(50)', 1, None, 0)
(2, 'vend_address', 'char(50)', 0, None, 0)
(3, 'vend_city', 'char(50)', 0, None, 0)
(4, 'vend_state', 'char(5)', 0, None, 0)
(5, 'vend_zip', 'char(10)', 0, None, 0)
(6, 'vend_country', 'char(50)', 0, None, 0)

#  Задание 2

1) Вывести список всех cust_id из Customers  
2) Вывести таблицу Customer  
3) Список клиентов (cust_names) отсортированные от Z до A  
4) Таблицу cust_id и order_num. Отсортировать по клиенту и по дате  
5) Таблицу на основе items с количеством и стоимостью товара. Отсортировать в порядке уменьшения количества товара и стоимости  
6) Товар с ценой 9.49 из таблицы Product  
7) Вывести название товара и цену,которая лежит в диапазоне 3:6. Отсортировать результат по возростанию цены.

In [54]:
# 1) Вывести список всех cust_id из Customers
request_1 = """
SELECT cust_id
FROM Customers
"""
execute_with_print(request_1)

('1000000001',)
('1000000002',)
('1000000003',)
('1000000004',)
('1000000005',)

In [55]:
# 2) Вывести таблицу Customer

request_2 = """
SELECT *
FROM Customers
"""
execute_with_print(request_2)

('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com')
('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None)
('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com')
('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com')
('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)

In [60]:
# 3) Список клиентов (cust_names) отсортированные от Z до A

request_3 = """
SELECT cust_name
FROM Customers
ORDER BY cust_name DESC
"""
execute_with_print(request_3)

('Village Toys',)
('The Toy Store',)
('Kids Place',)
('Fun4All',)
('Fun4All',)

In [70]:
# 4) Таблицу cust_id и order_num. Отсортировать по клиенту и по дате

print('Сортировка по cust_id')

request_4 = """
SELECT cust_id, order_num
FROM Orders
ORDER BY cust_id
"""
execute_with_print(request_4)

print()

print('Сортировка по order_num')

request_4 = """
SELECT cust_id, order_num
FROM Orders
ORDER BY order_num
"""
execute_with_print(request_4)

Сортировка по cust_id
('1000000001', 20005)
('1000000001', 20009)
('1000000003', 20006)
('1000000004', 20007)
('1000000005', 20008)

Сортировка по order_num
('1000000001', 20005)
('1000000003', 20006)
('1000000004', 20007)
('1000000005', 20008)
('1000000001', 20009)

In [71]:
# 5) Таблицу на основе items с количеством и стоимостью товара. Отсортировать в порядке уменьшения количества товара и стоимости

print('Сортировка по quantity')

request_5 = """
SELECT quantity, item_price
FROM OrderItems
ORDER BY quantity DESC
"""
execute_with_print(request_5)

print()

print('Сортировка по item_price')

request_5 = """
SELECT quantity, item_price
FROM OrderItems
ORDER BY item_price DESC
"""
execute_with_print(request_5)

Сортировка по quantity
(250, 2.49)
(250, 2.49)
(250, 2.49)
(100, 5.49)
(100, 10.99)
(100, 2.99)
(100, 2.99)
(100, 2.99)
(50, 11.49)
(50, 4.49)
(20, 5.99)
(10, 8.99)
(10, 11.99)
(10, 3.49)
(10, 3.49)
(10, 3.49)
(5, 4.99)
(5, 11.99)

Сортировка по item_price
(10, 11.99)
(5, 11.99)
(50, 11.49)
(100, 10.99)
(10, 8.99)
(20, 5.99)
(100, 5.49)
(5, 4.99)
(50, 4.49)
(10, 3.49)
(10, 3.49)
(10, 3.49)
(100, 2.99)
(100, 2.99)
(100, 2.99)
(250, 2.49)
(250, 2.49)
(250, 2.49)

In [74]:
# 6) Товар с ценой 9.49 из таблицы Product

request_6 = """
SELECT prod_name, prod_price
FROM Products
WHERE prod_price = '9.49'
"""
execute_with_print(request_6)

('King doll', 9.49)
('Queen doll', 9.49)

In [75]:
# 7) Вывести название товара и цену,которая лежит в диапазоне 3:6. Отсортировать результат по возростанию цены.

request_7 = """
SELECT prod_name, prod_price
FROM Products
WHERE prod_price > 3 and prod_price < 6
ORDER BY prod_price ASC
"""
execute_with_print(request_7)

('Fish bean bag toy', 3.49)
('Bird bean bag toy', 3.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)
('8 inch teddy bear', 5.99)

#  Задание 2

1) Вывести кол-во проданных товаров  
2) Вывести кол-во товаров с ценой больше 4  
3) Вывести 3 самых дорогих товара в базе  
4) Количество заказов для каждого клиента используя подзапросы  
5) Вывести список клиентов и их заказы с помозью join  
6) 2 запроса: список с ценой меньше 5 и список товаров с ценой больше 5. Использовать union

In [84]:
# 1) Вывести кол-во проданных товаров

request_8 = """
SELECT prod_id, SUM(quantity)
FROM OrderItems
GROUP BY prod_id

UNION

SELECT 'Всего продано: ', SUM(quantity)
FROM OrderItems
"""
execute_with_print(request_8)

('BNBG01', 360)
('BNBG02', 360)
('BNBG03', 360)
('BR01', 120)
('BR02', 10)
('BR03', 165)
('RGAN01', 55)
('Всего продано: ', 1430)

In [87]:
# 2) Вывести кол-во товаров с ценой больше 4

request_9 = """
SELECT count(prod_id) 
FROM Products
WHERE prod_price > 4
"""
execute_with_print(request_9)

(6,)

In [88]:
# 3) Вывести 3 самых дорогих товара в базе

request_10 = """
SELECT prod_name, prod_price
FROM Products
ORDER BY prod_price DESC
LIMIT 3
"""
execute_with_print(request_10)

('18 inch teddy bear', 11.99)
('King doll', 9.49)
('Queen doll', 9.49)

In [89]:
# 4) Количество заказов для каждого клиента используя подзапросы

request_11 = """
SELECT cust_id AS c1, SUM(1)
FROM (SELECT cust_id FROM Orders)
GROUP BY cust_id
"""
execute_with_print(request_11)

('1000000001', 2)
('1000000003', 1)
('1000000004', 1)
('1000000005', 1)

In [90]:
# 5) Вывести список клиентов и их заказы с помозью join

request_12 = """
SELECT cust_name, order_num
FROM Orders
JOIN Customers on Customers.cust_id=Orders.cust_id
"""
execute_with_print(request_12)

('Village Toys', 20005)
('Fun4All', 20006)
('Fun4All', 20007)
('The Toy Store', 20008)
('Village Toys', 20009)

In [91]:
# 6) 2 запроса: список с ценой меньше 5 и список товаров с ценой больше 5. Использовать union

request_13 = """
SELECT prod_name, prod_price
FROM Products
WHERE prod_price < 5

UNION

SELECT prod_name, prod_price 
FROM Products
WHERE prod_price >= 5
"""
execute_with_print(request_13)

('12 inch teddy bear', 8.99)
('18 inch teddy bear', 11.99)
('8 inch teddy bear', 5.99)
('Bird bean bag toy', 3.49)
('Fish bean bag toy', 3.49)
('King doll', 9.49)
('Queen doll', 9.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)